<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:page_title) %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbo-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbo-track="reload">
  <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <script src="javascripts/@hotwired--turbo.js" data-turbo-track="reload"></script>
  <script src="javascripts/clipboard.js" data-turbo-track="reload"></script>
  <script src="javascripts/guides.js" data-turbo-track="reload"></script>
  <meta property="og:title" content="<%= yield(:page_title) %>" />
  <meta name="description" content="<%= yield(:description) %>" />
  <meta property="og:description" content="<%= yield(:description) %>" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Ruby on Rails Guides" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/4223" />
  <meta property="og:type" content="website" />
</head>
<body dir="<%= @direction %>" class="guide">
  <% if badge_version = @edge ? "edge" : @version %>
  <div>
    <div id="version-badge"><%= badge_version %></div>
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">Más en <a href="https://rubyonrails.org/">rubyonrails.org:</a> </strong>
      <span class="red-button more-info-button">
        Más Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://rubyonrails.org/blog">Blog</a></li>
        <li class="more-info"><a href="https://guides.rubyonrails.org/">Guías</a></li>
        <li class="more-info"><a href="https://api.rubyonrails.org/">API</a></li>
        <li class="more-info"><a href="https://discuss.rubyonrails.org/">Foro</a></li>
        <li class="more-info"><a href="https://github.com/rails/rails">Contribuir en GitHub</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <div class="header-logo"><a href="index.html" title="Volver a la página de inicio">Guides.rubyonrails.org</a></div>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">Inicio</a></li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Índice de Guías</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="guides-section-container">
              <% documents_by_section.each do |section| %>
                <div class="guides-section">
                  <dt><%= section['name'] %></dt>
                  <% finished_documents(section['documents']).each do |document| %>
                  <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                  <% end %>
                </div>
              <% end %>
            </dl>
          </div>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">Contribuir</a></li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Índice de Guías</option>
            <% docs_for_menu.each do |section| %>
              <optgroup label="<%= section['name'] %>">
                <% finished_documents(section['documents']).each do |document| %>
                  <option value="<%= document['url'] %>"><%= document['name'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield %>

        <h3>Comentarios</h3>
        <p>
          Se te anima a ayudar a mejorar la calidad de esta guía.
        </p>
        <p>
          Por favor, contribuye si encuentras algún error tipográfico o factual.
          Para empezar, puedes leer nuestra <%= link_to 'contribución a la documentación', 'https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation' %> sección.
        </p>
        <p>
          También puedes encontrar contenido incompleto o desactualizado.
          Por favor, añade cualquier documentación faltante para main. Asegúrate de revisar
          <%= link_to 'Edge Guides', 'https://edgeguides.rubyonrails.org' %> primero para verificar
          si los problemas ya están resueltos o no en la rama principal.
          Consulta las <%= link_to 'Directrices de las Guías de Ruby on Rails', 'ruby_on_rails_guides_guidelines.html' %>
          para el estilo y las convenciones.
        </p>
        <p>
          Si por alguna razón encuentras algo que corregir pero no puedes solucionarlo tú mismo, por favor
          <%= link_to 'abre un problema', 'https://github.com/rails/rails/issues' %>.
        </p>
        <p>Y por último, cualquier tipo de discusión sobre la documentación de Ruby on Rails
          es muy bienvenida en el <%= link_to 'Foro oficial de Ruby on Rails', 'https://discuss.rubyonrails.org/c/rubyonrails-docs' %>.
        </p>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <%= render 'license' %>
    </div>
  </div>
</body>
</html>