<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:page_title) %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbo-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbo-track="reload">
  <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <script src="javascripts/@hotwired--turbo.js" data-turbo-track="reload"></script>
  <script src="javascripts/clipboard.js" data-turbo-track="reload"></script>
  <script src="javascripts/guides.js" data-turbo-track="reload"></script>
  <meta property="og:title" content="<%= yield(:page_title) %>" />
  <meta name="description" content="<%= yield(:description) %>" />
  <meta property="og:description" content="<%= yield(:description) %>" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Ruby on Rails Guides" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/4223" />
  <meta property="og:type" content="website" />
</head>
<body dir="<%= @direction %>" class="guide">
  <% if badge_version = @edge ? "edge" : @version %>
  <div>
    <div id="version-badge"><%= badge_version %></div>
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">Mais em <a href="https://rubyonrails.org/">rubyonrails.org:</a> </strong>
      <span class="red-button more-info-button">
        Mais Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://rubyonrails.org/blog">Blog</a></li>
        <li class="more-info"><a href="https://guides.rubyonrails.org/">Guias</a></li>
        <li class="more-info"><a href="https://api.rubyonrails.org/">API</a></li>
        <li class="more-info"><a href="https://discuss.rubyonrails.org/">Fórum</a></li>
        <li class="more-info"><a href="https://github.com/rails/rails">Contribua no GitHub</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <div class="header-logo"><a href="index.html" title="Retornar à página inicial">Guides.rubyonrails.org</a></div>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">Início</a></li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Índice de Guias</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="guides-section-container">
              <% documents_by_section.each do |section| %>
                <div class="guides-section">
                  <dt><%= section['name'] %></dt>
                  <% finished_documents(section['documents']).each do |document| %>
                  <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                  <% end %>
                </div>
              <% end %>
            </dl>
          </div>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">Contribuir</a></li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Índice de Guias</option>
            <% docs_for_menu.each do |section| %>
              <optgroup label="<%= section['name'] %>">
                <% finished_documents(section['documents']).each do |document| %>
                  <option value="<%= document['url'] %>"><%= document['name'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield %>

        <h3>Feedback</h3>
        <p>
          Você é incentivado a ajudar a melhorar a qualidade deste guia.
        </p>
        <p>
          Por favor, contribua se encontrar algum erro de digitação ou factual.
          Para começar, você pode ler nossa <%= link_to 'contribuição à documentação', 'https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation' %> seção.
        </p>
        <p>
          Você também pode encontrar conteúdo incompleto ou desatualizado.
          Por favor, adicione qualquer documentação ausente para o principal. Certifique-se de verificar
          <%= link_to 'Guias Edge', 'https://edgeguides.rubyonrails.org' %> primeiro para verificar
          se os problemas já foram corrigidos ou não no branch principal.
          Verifique as <%= link_to 'Diretrizes dos Guias do Ruby on Rails', 'ruby_on_rails_guides_guidelines.html' %>
          para estilo e convenções.
        </p>
        <p>
          Se por algum motivo você encontrar algo para corrigir, mas não puder corrigi-lo você mesmo, por favor
          <%= link_to 'abra uma issue', 'https://github.com/rails/rails/issues' %>.
        </p>
        <p>E por último, mas não menos importante, qualquer tipo de discussão sobre a documentação do Ruby on Rails
          é muito bem-vinda no <%= link_to 'Fórum oficial do Ruby on Rails', 'https://discuss.rubyonrails.org/c/rubyonrails-docs' %>.
        </p>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <%= render 'license' %>
    </div>
  </div>
</body>
</html>