<% content_for :page_title, "Ruby on Rails 指南" %>
<% content_for :description, "Ruby on Rails 指南" %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <% unless @edge -%>
      <dd class="kindle">Rails 指南也可在 <%= link_to 'Kindle', @epub %> 上取得。</dd>
    <% end -%>
    <dd class="work-in-progress">標有此圖示的指南目前正在編寫中，將不會顯示在指南索引選單中。雖然仍然有用，但可能包含不完整的資訊甚至錯誤。您可以通過審查並發表評論和更正來幫助改進。</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h2><%= section['name'] %></h2>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>