<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:page_title) %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbo-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbo-track="reload">
  <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <script src="javascripts/@hotwired--turbo.js" data-turbo-track="reload"></script>
  <script src="javascripts/clipboard.js" data-turbo-track="reload"></script>
  <script src="javascripts/guides.js" data-turbo-track="reload"></script>
  <meta property="og:title" content="<%= yield(:page_title) %>" />
  <meta name="description" content="<%= yield(:description) %>" />
  <meta property="og:description" content="<%= yield(:description) %>" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Ruby on Rails Guides" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/4223" />
  <meta property="og:type" content="website" />
</head>
<body dir="<%= @direction %>" class="guide">
  <% if badge_version = @edge ? "edge" : @version %>
  <div>
    <div id="version-badge"><%= badge_version %></div>
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">更多資訊請參考 <a href="https://rubyonrails.org/">rubyonrails.org:</a> </strong>
      <span class="red-button more-info-button">
        更多 Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://rubyonrails.org/blog">部落格</a></li>
        <li class="more-info"><a href="https://guides.rubyonrails.org/">指南</a></li>
        <li class="more-info"><a href="https://api.rubyonrails.org/">API</a></li>
        <li class="more-info"><a href="https://discuss.rubyonrails.org/">論壇</a></li>
        <li class="more-info"><a href="https://github.com/rails/rails">在 GitHub 上貢獻</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <div class="header-logo"><a href="index.html" title="返回首頁">Guides.rubyonrails.org</a></div>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">首頁</a></li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">指南索引</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="guides-section-container">
              <% documents_by_section.each do |section| %>
                <div class="guides-section">
                  <dt><%= section['name'] %></dt>
                  <% finished_documents(section['documents']).each do |document| %>
                  <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                  <% end %>
                </div>
              <% end %>
            </dl>
          </div>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">貢獻</a></li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">指南索引</option>
            <% docs_for_menu.each do |section| %>
              <optgroup label="<%= section['name'] %>">
                <% finished_documents(section['documents']).each do |document| %>
                  <option value="<%= document['url'] %>"><%= document['name'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield %>

        <h3>回饋</h3>
        <p>
          歡迎協助提升本指南的品質。
        </p>
        <p>
          如果您發現任何錯別字或事實錯誤，請貢獻您的力量。
          開始之前，您可以閱讀我們的 <%= link_to '文件貢獻', 'https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation' %> 部分。
        </p>
        <p>
          您也可能會發現不完整的內容或過時的資訊。
          請為主要的文件補充任何遺漏的內容。請先檢查 <%= link_to 'Edge 指南', 'https://edgeguides.rubyonrails.org' %>，以確認問題是否已經修復或尚未在主分支上修復。
          請參考 <%= link_to 'Ruby on Rails 指南指引', 'ruby_on_rails_guides_guidelines.html' %> 以了解風格和慣例。
        </p>
        <p>
          如果您發現需要修復但無法自行修補的問題，請 <%= link_to '開啟一個問題', 'https://github.com/rails/rails/issues' %>。
        </p>
        <p>最後但同樣重要的是，關於 Ruby on Rails 文件的任何討論都非常歡迎在 <%= link_to '官方 Ruby on Rails 論壇', 'https://discuss.rubyonrails.org/c/rubyonrails-docs' %> 上進行。
        </p>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <%= render 'license' %>
    </div>
  </div>
</body>
</html>