<% content_for :page_title, "Ruby on Rails 指南" %>
<% content_for :description, "Ruby on Rails 指南" %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <% unless @edge -%>
      <dd class="kindle">Rails 指南也可在 <%= link_to 'Kindle', @epub %> 上获取。</dd>
    <% end -%>
    <dd class="work-in-progress">带有此图标的指南正在进行中，将不会在指南索引菜单中提供。虽然仍然有用，但可能包含不完整的信息甚至错误。您可以通过审查并发布您的评论和更正来帮助改进它们。</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h2><%= section['name'] %></h2>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>