<h1>Guides Ruby on Rails (<%= @edge ? @edge[0, 7] : @version %>)</h1>

<% if @edge %>
<p>
  Ce sont les <b>Guides Edge</b>, basés sur <a href="https://github.com/rails/rails/tree/<%= @edge %>">main@<%= @edge[0, 7] %></a>.
</p>
<p>
  Si vous recherchez ceux de la version stable, veuillez consulter
  <a href="https://guides.rubyonrails.org">https://guides.rubyonrails.org</a> à la place.
</p>
<% else %>
<p>
  Ce sont les nouveaux guides pour Rails 7.1 basés sur <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  Ces guides sont conçus pour vous rendre immédiatement productif avec Rails et vous aider à comprendre comment toutes les pièces s'emboîtent.
</p>
<% end %>
<p>
Les guides pour les versions précédentes :
<a href="https://guides.rubyonrails.org/v7.0/" data-turbo="false">Rails 7.0</a>,
<a href="https://guides.rubyonrails.org/v6.1/" data-turbo="false">Rails 6.1</a>,
<a href="https://guides.rubyonrails.org/v6.0/" data-turbo="false">Rails 6.0</a>,
<a href="https://guides.rubyonrails.org/v5.2/" data-turbo="false">Rails 5.2</a>,
<a href="https://guides.rubyonrails.org/v5.1/" data-turbo="false">Rails 5.1</a>,
<a href="https://guides.rubyonrails.org/v5.0/" data-turbo="false">Rails 5.0</a>,
<a href="https://guides.rubyonrails.org/v4.2/" data-turbo="false">Rails 4.2</a>,
<a href="https://guides.rubyonrails.org/v4.1/" data-turbo="false">Rails 4.1</a>,
<a href="https://guides.rubyonrails.org/v4.0/" data-turbo="false">Rails 4.0</a>,
<a href="https://guides.rubyonrails.org/v3.2/" data-turbo="false">Rails 3.2</a>,
<a href="https://guides.rubyonrails.org/v3.1/" data-turbo="false">Rails 3.1</a>,
<a href="https://guides.rubyonrails.org/v3.0/" data-turbo="false">Rails 3.0</a>, et
<a href="https://guides.rubyonrails.org/v2.3/" data-turbo="false">Rails 2.3</a>.
</p>